* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}

p {
    font-weight: 300;
    color: #111;
}

.nosotros p {
    font-weight: 300;
    color: rgb(8, 8, 8);
}

.service_main {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.touch_section {
    width: 100%;
    padding-top: 57px;
    margin-bottom: 47px;
    display: inline-block !important;
}


/* --------------------------
         IMAGEN INICIO
----------------------------- */

.banner {
    position: relative;
    width: 100%;
    /* TAMAÑO */
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1.5em;
    color: #ffffff;
}


/* --------------------------
         IMAGEN INICIO 2
----------------------------- */

.nosotros .banner-nosotros {
    position: relative;
    width: 100%;
    /* TAMAÑO */
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(../img/nosotros.jpg); */
    background-size: cover;
    background-attachment: fixed;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nosotros .banner-nosotros .titulotext {
    color: #2b2b2b;
}

.nosotros .banner-nosotros p {
    color: #2b2b2b;
}


}

/* --------------------------
            BOTON
----------------------------- */
.btn {
    font-size: 1em;
    color: #fff;
    background: #ff0158;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transform: 0.5s;
}
.btn:hover {
    letter-spacing: 1px;
}

/* --------------------------
          NAVBAR
----------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, o, .05);
}

/* header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    
}
 */
.lets_touch_main {
    width: 100%;
    float: left;
    background-color: #004c634f;
    padding-top: 40px;
    padding-bottom: 40PX;
}

/* --------------------------
            LOGO
            NAVEGACION
----------------------------- */
header .sticky .logo {
    color: #111;
}
header .logo span {
    color: #c4000a;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
header.sticky .navigation li a {
    color: #111;
}
header.sticky .logo {
    color: #111;
}
header .navigation li a:hover {
    color: #ff0158;
}

/* GALERIA 

header .navigation-galery {
    position: relative;
    display: flex;
}

header .navigation-galery li {
    list-style: none;
    margin-left: 30px;
}

header .navigation-galery li a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-weight: 600;
}

header.sticky .navigation-galery li a {
    color: #111;
}

header .navigation-galery li a:hover {
    color: #ff0158;
}
*/
section {
    padding: 50px;
}

/* --------------------------
            NOSOTROS
            texto
----------------------------- */
.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.row .col50 {
    position: relative;
    width: 47%;
}
.titulotext {
    color: #111;
    font-size: 3em;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* --------------------------
            imagen
----------------------------- */
.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /* min-height: 300; */
    
    height: 100%;
}
.row .col50 .imgBx img {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------------
            GALERIA
----------------------------- */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.galeria .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.galeria .content .box {
    width: 340px;
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}
.galeria .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.galeria .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* GALERY BOOTSTRAP */
.carousel-item {
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* --------------------------
            DONACIONES
----------------------------- */
.donacion {
    background: url(../img/donacion.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.white .titulotext,
.white p {
    color: #fff;
    padding-top: 0.1em;
}
.donacion .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.donacion .content .box {
    width: 540px;
    margin: 50px;
    padding: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.donacion .content .box .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 8%;
    overflow: hidden;
}
.donacion .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.donacion .content .box .text {
    text-align: center;
}
.donacion .content .box .text p {
    color: #667;
    font-style: italic;
}
.donacion .content .box .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0158;
    font-weight: 599;
}

/* --------------------------
            CITA BIBLICA
----------------------------- */
.expert .title p {
    text-align: center;
    color: #667;
    font-style: italic;
    padding-top: 1em;
}

/* --------------------------
            FOOTER
----------------------------- */
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i {
    color: aqua;
}
.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* --------------------------
            RESPONSIVE
----------------------------- */

/* RESPONSIVE MENU */
@media(max-width: 991px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }
    
    header .navigation {
        display: none;
    }
    
    header .navigation.active {
        width: 100%;
        left: 0;
        height: calc(100% - 65px);
        position: fixed;
        top: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    
    header .navigation li {
        list-style: none;
        margin-left: 0;
    }
    
    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }
    /* GALERIA 
    header .navigation-galery {
        display: none;
    }
    header .navigation-galery.active {
        width: 100%;
        left: 0;
        height: calc(100% - 65px);
        position: fixed;
        top: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation-galery li {
        list-style: none;
        margin-left: 0;
    }
    header .navigation-galery li a {
        color: #111;
        font-size: 1.6em;
    }
    */
    /* BOTONES MENU */
    
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../icons/bars-solid.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    
    .menuToggle.active {
        background: url(../icons/times-solid.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    header.sticky .menuToggle {
        filter: invert(1);
    }
    
    section {
        padding: 20px;
    }
    
    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }
    
    .row {
        flex-direction: column;
    }
    
    .row .col50 {
        position: relative;
        width: 100%;
    }
    
    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }
    
    .carousel-item {
        height: 200px;
    }
    
    .nosotros .banner-nosotros {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .donacion .titulotext {
        font-size: 35px;
    }
}
.donacion .titulotext {
    font-size: 35px;
}